<div class="tab-pane <%= itinerary_iteration.first? ? "active show" : "" %>" id="<%= itinerary.id %>" role="tabpanel">
  <div class="itinerary-header-container">
    <div class="d-flex justify-content-between align-items-baseline">
      <h2><%= itinerary.name %></h2>
      <h3 class="text-primary"><%= itinerary.date ? itinerary.date.to_formatted_s(:long) : "" %></h3>
    </div>
  </div>
  <ul class="itinerary-item-append">
    <%= render partial: 'itinerary_items/card', collection: itinerary.itinerary_items, as: :itinerary_item %>
  </ul>
</div>
