<div class="tab-pane <%= itinerary_iteration.first? ? "active show" : "" %>" id="<%= itinerary.id %>" role="tabpanel">
  <div class="itinerary-header-container">
    <div class="d-flex justify-content-between align-items-baseline">
      <h2><%= itinerary.name %></h2>
      <h3 class="text-primary"><%= itinerary.date ? itinerary.date.to_formatted_s(:long) : "" %></h3>
    </div>
  </div>
  <div class="container itinerary-item-container" data-channel="ItineraryChannel" data-id="<%= itinerary.id %>" data-event="created_itinerary_item" data-action="append" data-url="<%= itinerary_item_path('${}', format: :cable) %>">
    <%= render partial: 'itinerary_items/card', collection: itinerary.itinerary_items, as: :itinerary_item %>
  </div>
</div>
