<div class="card-body">
  <div class="tab-content text-center">
    <% @itinerary.order(:date).each do |day| %>
      <div class="tab-pane" id="<%= day.id %>" role="tabpanel">
          <% items = ItineraryItem.where(itinerary_id: day) %>
          <% items.each do |item| %>

          <div class="container">
            <div class="col-md-12">
              <h3 class="title text-center"> <%= item.name %></h3>
                <p><%= day.date %></p>
                <p> <%= item.notes %> </p>
                <br />
                <div class="card-body">
                  <div class="blogs-1" id="blogs-1">
                    <div class="row">
                      <div class="col-md-10 ml-auto mr-auto">
                        <div class="card card-plain card-blog">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="card-image">
                                <img class="img img-raised rounded" src="../assets/img/examples/card-blog4.jpg">
                              </div>
                            </div>
                            <div class="col-md-7">
                              <h6 class="category text-info"><i class="far fa-clock"></i> <%= item.start_time %> - <%= item.end_time%>
                              </h6>
                                <h3 class="card-title">
                                  <a href="#pablo"> Attraction Title Goes Here </a>
                                </h3>
                                <p class="card-description">
                                  Attraction Description Goes Here
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="card card-plain card-blog">
                            <div class="row">
                              <div class="col-md-6">
                              <h6 class="category text-info"><i class="far fa-clock"></i> <%= item.start_time %> - <%= item.end_time%>
                              </h6>
                                <h3 class="card-title">
                                  <a href="#pablo">Attraction Title Goes Here</a>
                                </h3>
                                  <p class="card-description">
                                    Attraction Description Goes Here
                                    Attraction Description Goes Here
                                    Attraction Description Goes Here Attraction Description Goes Here Attraction Description Goes Here Attraction Description Goes Here
                                    Attraction Description Goes Here Attraction Description Goes Here
                                    Attraction Description Goes Here Attraction Description Goes Here Attraction Description Goes Here
                                  </p>
                                </div>
                                <div class="col-md-5 pull-right">
                                <div class="card-image">
                                  <img class="img img-raised rounded
                                    " src="../assets/img/examples/card-blog6.jpg">
                                </div>
                              </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
