<%= render "layouts/user_header" %>
<main>
  <div class="container">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newTripModal">
      New Trip
    </button>
    <% @trips.each do |trip| %>
      
      <div class="card">
        <div class="card-body">
          <div class="pull-right text-right">
          <%= link_to "Edit", trip_path(trip.id), class: "text-primary edit-link" %> | <%= link_to "Delete", trip, method: :delete, class: "text-danger delete-link" %>
          </div>
          <%= link_to trip_path(trip.id) do %><h5 class="card-title"><%= trip.name %></h5><% end %>
          <p class="card-description"><%= trip.start_date.to_formatted_s(:long) %> to <%= trip.end_date.to_formatted_s(:long) %></p>
          <table class="table trip-table">
            <tbody>
            <% trip.itineraries.each do |itinerary| %>
              <tr>
                <td class="text-center"><%= itinerary.date.to_formatted_s(:short) %></td>
                <td><%= itinerary.name %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    
    <% end %>
  </div>
</main>
<div class="modal fade" id="newTripModal" tabindex="-1" role="dialog" aria-labelledby="newTripModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTripModalLabel">New Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "new_trip" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
