<%= render "trip_header" %>
<div class="container">
  <div class="card itinerary-display">
    <div class="card-header">
      <ul class="nav nav-tabs nav-tabs-neutral justify-content-center itinerary-display" role="tablist" data-background-color="orange" data-channel="TripChannel" data-id="<%= @trip.id %>" data-event="created_itinerary" data-action="appendSorted" data-url="<%= itinerary_path('${}', format: :cable) %>">
        <%= render partial: 'itineraries/tab_header', collection: @trip.itineraries.order(:date), as: :itinerary %>
        <% if @trip.users.include?(current_user) %>
          <li class="nav-item">
          <button type="button" class="nav-link add-itin-button" data-toggle="modal" data-target="#newItineraryModal" data-sort="<%= @trip.itineraries.exists? ? @trip.itineraries.last.date + 1.year : @trip.end_date + 1.year %>">
            <i class="fas fa-plus-circle"></i> &nbsp;&nbsp;Add
          </button>
          </li>
        <% end %>
      </ul>

      <div class="card-body">
        <div class="tab-content" data-channel="TripChannel" data-id="<%= @trip.id %>" data-event="created_itinerary" data-action="append" data-url="<%= itinerary_details_path('${}', format: :cable) %>">
          <%= render partial: 'itineraries/tab_content', collection: @trip.itineraries.order(:date), as: :itinerary %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newItineraryModal" tabindex="-1" role="dialog" aria-labelledby="newItineraryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newItineraryModalLabel">New Itinerary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render Itinerary.new(trip: @trip, date: (@trip.itineraries.order(date: :desc).pluck(:date).first || Time.now) + 1.day, name: "Day #{@trip.itineraries.count + 1} " ) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
