<div class="signup-page">
  <div class="page-header section-image">
    <div class="page-header-image" style="background-image:url(../assets/img/bg11.jpg)"></div>
      <div class="content">
        <div class="container">
          <div class="row">

            <div class="col-md-4 ml-auto mr-auto">

              <!-- "Why Register?" Splash START-->
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="fas fa-user-friends"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Grab your friends</h5>
                    <p class="description">
                      Tripper is a celebration in collaboration. Grab your friends and plan you next adventure together!
                    </p>
                </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="fas fa-suitcase"></i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">Pack your suitcase</h5>
                      <p class="description">
                        We've made planning your itinerary as easy as pie. So you can spend more time enjoying your vacation.
                      </p>
                  </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="fas fa-plane-departure"></i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">Begin your adventure</h5>
                      <p class="description">
                       Your time is precious. Plan ahead with Tripper and spend less time wonder what to do, and more time wondering the world.
                      </p>
                  </div>
                </div>
            </div>
            <!-- "Why Register?" Splash END-->

            <!-- Registration Form START-->
            <div class="col-md-4 mr-auto">
              <div class="card card-signup">
                <div class="card-body">
                  <h5 class="card-title text-center">Register</h5>
                    <div class="social text-center">
                    
                      <button class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-animation="true" data-original-title="Register with your Twitter account">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-icon btn-round btn-google" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-animation="true" data-original-title="Register with your Google Plus account">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-icon btn-round btn-facebook" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-animation="true" data-original-title="Register with your Facebook account">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <h5 class="card-description"> or be old school </h5>
                    </div>

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>

                      <% if @token != nil %>
                        <%= hidden_field_tag :invite_token, @token %>
                      <% end %>

                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">
                          <img src="/assets/img/placeholder.jpg" alt="Avatar input">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised">
                        </div>
                          <div>
                            <span class="btn btn-raised btn-round btn-default btn-file">
                                <span class="fileinput-new">Add Photo</span>
                                <span class="fileinput-exists">Change</span>
                                <%= f.file_field :profile_pic %>
                            </span>
                            <br>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="now-ui-icons ui-1_simple-remove"></i> Remove</a>
                           </div>
                          </div>
                      </div>

                      <div class="row d-flex justify-content-center">
                        <div class="input-group ml-4 mr-4 mb-0">
                          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", autocomplete: "first-name", class: "form-control form-opacity" %>
                        </div>
                        &nbsp;
                        <div class="input-group ml-4 mr-4 mb-0">
                          <%= f.text_field :last_name, placeholder: "Last Name", autocomplete: "last-name", class: "form-control form-opacity" %>
                        </div>
                        &nbsp;
                        <div class="input-group ml-4 mr-4 mb-0">
                          <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "form-control form-opacity" %>
                        </div>
                        &nbsp;
                        <div class="input-group ml-4 mr-4 mb-0">
                          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control form-opacity" %>
                        </div>
                        &nbsp;
                        <div class="input-group ml-4 mr-4 mb-4">
                          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control form-opacity" %>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex justify-content-center">
                          <div class="col-md-9">
                            <div class="input-group">
                              <%= f.submit "Sign up", class: "btn btn-primary btn-round btn-block" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <div class="d-flex justify-content-center">
                      <%= render "devise/shared/links" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Registration Form END-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
