<div class="header-2" style="background-image: url('<%= image_path('img/login.jpg') %>')">
  <div class="page-header header-filter" filter-color="blue">
    <div class="content-center">
      <div class="container">

        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Forgot your password?</h1>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-login card-plain" data-background-color="">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="col-md-5 ml-auto mr-auto">
                <div class="field">
                  <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control form-opacity" %>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Send reset password instructions", class: "col-md-4 ml-auto mr-auto btn btn-primary btn-round" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
