<div class="attractions-all-cards">
<% @attractions.each do |attraction| %>

<div class="attraction-card">
  <img src=<%= attraction.image %> alt=<%= attraction.name %>>
  <h5><%= attraction.name %></h5>
  <p><%= attraction.description %></p>
  <div class="button-wrapper">
    <%= link_to attraction_path(attraction.id) do %>
      <button class="btn btn-sm attraction-btn">Find out more</button>
    <% end %>

    <%= link_to attraction_path(attraction.id) do %>
      <button class="btn btn-sm attraction-btn">Add to itinerary</button>
    <% end %>
  </div>
</div>

<% end %>
</div>
