<div id="carouselExampleIndicators" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/bg14.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container text-left">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title"><% puts @city %></h1>
                                    <h4 class="description "><%= @city %></h4>
                                        <br>
                                        <div class="buttons">
                                        <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/bg15.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Arctic Sea ice.</h1>
                                    <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                        <br>
                                        <div class="buttons">
                                        <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/bg22.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Plan your day like magic.</h1>
                                    <h4 class="description ">Tripper makes it easier than ever to plan, organise and collaborate with your vacations with friends. Making travelling a breeze.</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/bg4.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Title Goes Here</h1>
                                    <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                        <br>
                                        <div class="buttons">
                                        <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>