<div class="all-city-info">
<p><strong>Country:</strong> <%= @city.country %></p>
<p><strong>Language:</strong> <%= @city.language %></p>
<p><strong>Curency:</strong> <%= @city.currency %></p>
<p><strong>Emergency phone:</strong> <%= @city.emergency_phone %></p>
<p><strong>Time zone:</strong> <%= @city.time_zone %></p>
<p><strong>Tipping custom:</strong> <%= @city.tipping_custom %></p>
<p>
  <%= link_to @city.transit, target: "_blank" do %>
    <button class="btn btn-sm transit-button">How to get around</button>
  <% end %>
</p>
</div>