<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="false" style="background-image: url('<%= image_path('img/bg5.jpg') %>'); transform: translate3d(0px, 0px, 0px);">
      </div>
      <div class="content-center user-header-info">
        <% if @user.profile_pic.attachment != nil %>
          <%= image_tag @user.profile_pic, class: 'profile-profile-pic' %>
        <% else %>
          <%= image_tag image_path('img/no-user-image.png'), class: 'profile-profile-pic' %>
        <% end %>
        <br />
        <br />
        <h3 class="category text-white"><%= @user.first_name %> <%= @user.last_name %></h3>
        <div class="content">
          <div class="social-description">
            <h2><%= @user.trips.count %></h2>
            <p class="header-text">Trips</p>
          </div>
          <div class="social-description">
            <h2><%= @user.reviews.count %></h2>
            <p class="header-text">Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <%= link_to "My Trips", user_trips_path(@user[:id]), class: "btn btn-primary btn-round btn-lg" %>
          <a href="#button" class="btn btn-primary btn-round btn-lg">Shared Trips</a>
        <% if params[:user_id] == current_user.id.to_s || @user.id == current_user.id %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-round btn-lg" %>
        <% end %>
         </div>
      </div>
    </div>
  </div>
</div>
