<!DOCTYPE html>
<html>
  <head>
    <title>Tripper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#pablo">Tripper</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-primary" data-nav-image="./assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Your Itinaries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    Sign Out
                  </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <%= yield %>

  <!-- Copyright Footer -->
  <footer class="footer">
    <div class="row justify-content-center">
      <nav>
        <div class="copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Designed by Daniel Amiri-Fear, Gioanna Rheumer & Negar Amiri (using Now UI Kit by Creative Tim).
        </div>
      </nav>
    </div>
  </footer>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <!-- Plugins -->

    <!--   Core JS Files   -->
    <%= javascript_include_tag 'now-ui-kit', 'data-turbolinks-track': 'reload' %>
    <!--  Google Maps Plugin    -->
    <!-- <script  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>"></script> -->
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script type="text/javascript">
      $(document).on('turbolinks:load DOMContentLoaded',function() {
        nowuiKit.initSliders();
      });
    </script>
  </body>
</html>
