<!DOCTYPE html>
<html>
  <head>
    <title>Travller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <!-- Navbar -->
    <%= render 'layouts/navbar' %>

    <!-- Main content -->
    <%= yield %>

    <!-- Copyright Footer -->
    <%= render 'layouts/footer' %>

    <!-- Plugins -->

    <!--   Core JS Files   -->
    <%= javascript_include_tag 'now-ui-kit', 'data-turbolinks-track': 'reload' %>
    <!--  Google Maps Plugin    -->
    <!-- <script  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>"></script> -->
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script type="text/javascript">
      $(document).on('turbolinks:load DOMContentLoaded',function() {
        nowuiKit.initSliders();
      });
    </script>
  </body>
</html>
