<!DOCTYPE html>
<html>
  <head>
    <title>Tripper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- Plugins -->

    <!--   Core JS Files   -->
    <%= javascript_include_tag 'now-ui-kit', 'data-turbolinks-track': 'reload' %>
    <!--  Google Maps Plugin    -->
    <!-- <script  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>"></script> -->
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script type="text/javascript">
      $(document).on('turbolinks:load DOMContentLoaded',function() {
        nowuiKit.initSliders();
      });
    </script>
  </body>
</html>
