<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h6 class="modal-title" id="myModalLabel">Add an item to your itinerary</h6>
      </div>

      <div class="modal-body">
        <div class="instruction">
          <div class="row">
            <div class="col-md-12">
              <% if params[:attraction_id] %>
                <div class="attraction-item">
                  <div class="attraction-card-itinerary">
                    <div class="attraction-image">
                      <%= image_tag @attraction.image %>
                    </div>
                    <div class="attraction-description">
                      <p class="name"><%= @attraction.name %></p>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="new-item-container">
                <%= form_for @itinerary_item do |form| %>
                  <% if form.object.errors.any? %>
                    <div class="alert alert-danger">
                      <strong>The following errors prevented saving:</strong>
                        <ul>
                          <% form.object.errors.full_messages.each do |error| %>
                            <li><%= error %></li>
                          <% end %>
                        </ul>
                    </div>
                  <% end %>

                  <%= form.hidden_field :attraction_id, value: params[:attraction_id] %>
                  
                  <div class="form-group">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: 'form-control', placeholder: 'Flight' %>
                  </div>

                  <div class="form-group">
                    <%= form.label 'Item Notes' %>
                    <%= form.text_field :notes, class: 'form-control', placeholder:'Flight number: BA085' %>
                  </div>

                  <div class="form-group">
                    <%= form.label 'Start time' %>
                    <%= form.text_field :start_time, class:"form-control timepicker" %>
                  </div>

                  <div class="form-group">
                    <%= form.label 'End time' %>
                    <%= form.text_field :end_time, class:"form-control timepicker" %>
                  </div>
                  
                  <div class="datepicker-container">
                    <div class="form-group">
                      <%= form.label 'Trip' %>
                      <% current_user.trips.each do |trip| %>
                        <div class="trip">
                          <%= trip.name %>
                          <% itinerary = Itinerary.where(trip_id: trip.id) %>
                          <% itinerary.each do |i| %>
                            <p>
                              <%= form.radio_button :itinerary_id, i.id %><%= i.name %> 
                            <br />
                            </p>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <%= form.submit 'Looks Good!', class: 'btn btn-primary' %>
          <% end %>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>