<div class="attraction-card">
  <div class="card">
    <div class="card-img">
      <%= link_to attraction_path(attraction.id) do %>
        <img class="card-img-top" src=<%= image_path(attraction.image) %> >
      <% end %>
    </div>

    <div class="card-body">
      <%= link_to attraction_path(attraction.id) do %>
        <h5><%= attraction.name %></h5>
      <% end %>
      <p class="card-attraction-description"><%= attraction.description %></p>
      <div class="button-wrapper">
        <%= link_to "Find out more", attraction_path(attraction.id), class: "btn btn-sm attraction-btn" %>
      </div>
    </div>
  </div>
</div>
