<!-- Address & Opening Hours Side Panel -->
<main>
  <article class="attraction-info">
    <div class="all-city-info">

      <h5><strong>Location:</strong></h5>
        <iframe width="320em" height="320em" frameborder="0" style="border:0" src='https://www.google.com/maps/embed/v1/place?q=place_id:<%= @attraction.google_place %>&key=<%=ENV["GOOGLE_API"] %>' allowfullscreen></iframe>

        <br >
        <br >

      <h5><strong>Opening Hours:</strong></h5>
        <p><strong>Monday: </strong><%= @attraction.monday_hours %></p>
        <p><strong>Tuesday: </strong><%= @attraction.tuesday_hours %></p>
        <p><strong>Wednesday: </strong><%= @attraction.wednesday_hours %></p>
        <p><strong>Thursday: </strong><%= @attraction.thursday_hours %></p>
        <p><strong>Friday: </strong><%= @attraction.friday_hours %></p>
        <p><strong>Saturday: </strong><%= @attraction.saturday_hours %></p>
        <p><strong>Sunday: </strong><%= @attraction.sunday_hours %></p>
        
        <br >

    </div>
  </article>

  <!-- Attraction Descritption -->
  <article>
    <div class="container">

      <div class="card pl-5 pr-5">
        <div class="col-md-12 ml-auto mr-auto pb-4">
          <h3 class="title"><%= @attraction.name %></h3>
          <div class="attractions-all-cards">
            <p><%= @attraction.description %></p>
          </div>
        </div>
      </div>

        <br >
        <br >

      <div class="card form-col pull-right mt-4 p-2">
        <div class="media-area">
          <%= render 'review_form' %>
        </div>
      </div>
        
      <div class="card reviews-col mt-3 ml-2, mr-2 pl-5 pr-5">
        <%= render 'reviews' %>
      </div>
      
    </div>
  </article>
</main>

