<h3 class="title text-center">Have you visited? <br > Leave a review below:  </h3>
<%= form_for [@attraction, @review] do |f| %>       
  <div class="row review-header">
    <% if current_user.profile_pic.attachment != nil %>
      <%= image_tag current_user.profile_pic, class: 'post-review-pic' %>
    <% else %>
      <%= image_tag image_path('img/no-user-image.png'), class: 'post-review-pic' %>
    <% end %>
    <%= current_user.first_name %>
  </div>

  <div class="row review-container">
    <div class="form-group">
      <div class="media-body pt-2">
        <br>
        <%= f.hidden_field :attraction_id, value: params[:id] %>
        <%= f.select :rating, options_for_select([["Rating", ""], 1, 2, 3, 4, 5]), class: 'genForm_dropBox' %>
        <div class="text-muted pt-4">
          <%= f.label 'Tell us what you thought...' %>
        </div>
        <%= f.text_area :review, class: "form-control" %>
        <div class="media-footer">
          <%= f.submit 'Post Review', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

     
