
          <div class="media-area">
            <h3 class="title text-center">Visitor Reviews: </h3>

              <% @attraction.reviews.order('reviews.created_at DESC').each do |item| %>

                <div class="media pb-5">

                  <a class="pull-left" href="#pablo">
                    <div class="avatar">
                      <img class="media-object img-raised" src="../assets/img/james.jpg" alt="avatar">
                    </div>
                  </a>

                    <div class="media-body">
                    <h5 class="media-heading">
                      <%= item.user.first_name %>
                        <small class="text-muted pull-right">
                          Post date: <%= (item.created_at).to_formatted_s(:long)  %> <br >
                          Rating: <%= item.rating %> <br >
                        </small>
                    </h5>
                  
                    <p> <%= item.review %> </p>
                  </div>

                  <% if item.user == current_user %>
                    <div class="card-text">
                      <%= link_to 'Delete', review_path(item.id), class: 'btn btn-primary', method: :delete, :data => {:confirm => 'Are you sure?'} %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>