<h3 class="title text-center">Have you visited? <br > Leave a review below:  </h3>
  <%= form_for [@attraction, @review] do |f| %>
          
    <div class="media media-post">
      <a class="pull-left author" href="#pablo">
        <div class="avatar">
          <img class="media-object img-raised" alt="64x64" src="../assets/img/olivia.jpg">
        </div>
      </a>

      <div class="media-body">
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select([["Select a Rating", ""], 1, 2, 3, 4, 5]), class: 'genForm_dropBox' %>
        <br >
        <br >
        <div class="text-muted">
        <%= f.label 'Write a nice review or go home...' %>
        </div>
        <%= f.text_area :review, class: "form-control" %>
          <div class="media-footer">
            <div>
              <%= f.submit 'Post Review', class: 'btn btn-primary pull-right' %>
            </div>
          </div>
      </div>
    </div>
  <% end %>

     
