<div class="media-area">
  <h3 class="title text-center">Visitor Reviews: </h3>

  <% @attraction.reviews.order('reviews.created_at DESC').each do |item| %>

  <div class="media pb-5">
    <a href="<%= user_trips_path(item.user.id) %>" title="<%= item.user.first_name %>">
      <% if current_user.profile_pic.attachment != nil %>
        <%= image_tag item.user.profile_pic, class: 'review-pic' %>
      <% else %>
        <%= image_tag image_path('img/no-user-image.png'), class: 'review-pic' %>
      <% end %>
    </a> 

    
    <div class="media-body">
      <h5 class="media-heading">
        <%= item.user.first_name %> 
        <br >
        <small class="text-muted">
        
          <%= (item.created_at).to_formatted_s(:short) %> -
          <% rating = item.rating.to_i %>
          <% rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>

          <% blank = 5 - rating %>
          <% blank.times do %>
            <i class="far fa-star"></i>
          <% end %>
          <% if item.user == current_user %>
      
        <%= link_to review_path(item.id), class: 'btn btn-danger btn-neutral btn-sm', method: :delete, :data => {:confirm => 'Are you sure?'} do %>
          <i class="far fa-trash-alt review-delete"></i>
        <% end %>
      
    <% end %>
        </small>
      </h5>

      <br >

        
      <p> <%= item.review %> </p>
    </div>
  </div>
  <% end %>
</div>