<div class="blog-post">
  <div class="wrapper">

    <!--Header Image -->
    <div class="page-header page-header-small"> <!-- <img src=<%= @attraction.image %> > -->
      <div class="page-header-image" data-parallax="false" style="background-image:url(&quot;../assets/img/bg24.jpg&quot;); transform: translate3d(0px, 0px, 0px);">
      </div>

      <!-- Attraction Title -->
      <div class="content-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title"><%= @attraction.name %></h2>
              <h5>Average rating: 
                <% rating = @attraction.reviews.average(:rating).to_i %>
                  <% rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>

                  <% blank = 5 - rating %>
                  <% blank.times do %>
                    <i class="far fa-star"></i>
                  <% end %></p>
              </h5>
          </div>
        </div>
      </div>
    </div>

    <!--Social Media Navigation Buttons -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="button-container">
              <button class="btn btn-primary btn-lg btn-icon btn-round"<%= @attraction.website %>>
                <i class="fas fa-globe"></i>
              </button>
              <button class="btn btn-icon btn-lg btn-twitter btn-round"<%= @attraction.twitter %>>
                <i class="fab fa-twitter"></i>
              </button>
              <button class="btn btn-icon btn-lg btn-facebook btn-round"<%= @attraction.facebook %>>
                <i class="fab fa-facebook-f"></i>
              </button>
              <button class="btn btn-icon btn-lg btn-google btn-round"<%= @attraction.twitter %>>
                <i class="fab fa-instagram"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Address & Opening Hours Side Panel -->
      <article class="city-info">
        <div class="all-city-info">

        <h5><strong>Opening Hours:</strong></h5>
          <p><strong>Monday: </strong><%= @attraction.monday_hours %></p>
          <p><strong>Tuesday: </strong><%= @attraction.tuesday_hours %></p>
          <p><strong>Wednesday: </strong><%= @attraction.wednesday_hours %></p>
          <p><strong>Thursday: </strong><%= @attraction.thursday_hours %></p>
          <p><strong>Friday: </strong><%= @attraction.friday_hours %></p>
          <p><strong>Saturday: </strong><%= @attraction.saturday_hours %></p>
          <p><strong>Sunday: </strong><%= @attraction.sunday_hours %></p>
          
          <br >
          <br >
          
          <h5><strong>Address:</strong></h5>
          <p><%= @attraction.address %></p>
          <p><%= @attraction.address_city %></p>
          <p><%= @attraction.address_postcode %></p>
          <p>
            <a target="_blank" href="http://www.stm.info/en">
              <button class="btn btn-sm transit-button"><i class="fas fa-subway"></i> Plan your trip</button>
            </a>
          </p>
        </div>
      </article>

      <!-- Attraction Descritption -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title"><%= @attraction.name %></h3>
              <div class="attractions-all-cards">
                <p><%= @attraction.description %></p>
              </div>
          </div>
        </div>
      </div>


      <div class="review-form">
        <%= render 'review_form' %>
      </div>

      <div class="review-form">
        <%= render 'reviews' %>
      </div>
      
            <div class="section section-comments">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="media-area">
                                <h3 class="title text-center">3 Comments</h3>
                                <div class="media">
                                    <a class="pull-left" href="#pablo">
                                        <div class="avatar">
                                            <img class="media-object img-raised" src="../assets/img/james.jpg" alt="...">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Tina Andrew
                                            <small class="text-muted">· 7 minutes ago</small>
                                        </h5>
                                        <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                                        <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>
                                        <div class="media-footer">
                                            <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                                <i class="now-ui-icons ui-1_send"></i> Reply
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#pablo">
                                        <div class="avatar">
                                            <img class="media-object img-raised" alt="Tim Picture" src="../assets/img/michael.jpg">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">John Camber
                                            <small class="text-muted">· Yesterday</small>
                                        </h5>
                                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                        <p> Don't forget, You're Awesome!</p>
                                        <div class="media-footer">
                                            <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                                <i class="now-ui-icons ui-1_send"></i> Reply
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                            </a>
                                        </div>
                                        <div class="media">
                                            <a class="pull-left" href="#pablo">
                                                <div class="avatar">
                                                    <img class="media-object img-raised" alt="64x64" src="../assets/img/julie.jpg">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Tina Andrew
                                                    <small class="text-muted">· 2 Days Ago</small>
                                                </h5>
                                                <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                                <p> Don't forget, You're Awesome!</p>
                                                <div class="media-footer">
                                                    <a href="#pablo" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                                        <i class="now-ui-icons ui-1_send"></i> Reply
                                                    </a>
                                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                        <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="title text-center">Post your comment</h3>
                            <div class="media media-post">
                                <a class="pull-left author" href="#pablo">
                                    <div class="avatar">
                                        <img class="media-object img-raised" alt="64x64" src="../assets/img/olivia.jpg">
                                    </div>
                                </a>
                                <div class="media-body">
                                    <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                                    <div class="media-footer">
                                        <a href="#pablo" class="btn btn-primary pull-right">
                                            <i class="now-ui-icons ui-1_send"></i> Reply
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end media-post -->
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>










<img src=<%= @attraction.image %> >

<p><%= @attraction.name %></p>
<p><%= @attraction.address %></p>
<p><%= @attraction.address_city %></p>
<p><%= @attraction.address_postcode %></p>

<p><%= @attraction.website %></p>
<p><%= @attraction.facebook %></p>
<p><%= @attraction.instagram %></p>
<p><%= @attraction.twitter %></p>

<p>Average rating: 
<% rating = @attraction.reviews.average(:rating).to_i %>
  <% rating.times do %>
    <i class="fas fa-star"></i>
  <% end %>

  <% blank = 5 - rating %>
  <% blank.times do %>
    <i class="far fa-star"></i>
  <% end %>
</p>


<p><%= @attraction.description %></p>

<p><%= @attraction.monday_hours %></p>
<p><%= @attraction.tuesday_hours %></p>
<p><%= @attraction.wednesday_hours %></p>
<p><%= @attraction.thursday_hours %></p>
<p><%= @attraction.friday_hours %></p>
<p><%= @attraction.saturday_hours %></p>
<p><%= @attraction.sunday_hours %></p>

<div class="review-form">
  <%= render 'review_form' %>
</div>

<div class="review-form">
  <%= render 'reviews' %>
</div>
